/*************************************
                COMMON
**************************************/

#container {
    overflow-x: hidden;
    min-height: calc(80vh + 4px);
    margin-top: 60px;
    padding-top: 60px;
}

@media (max-width: 992px) {
    #container {
        padding-top: 30px;
    }
}

.container {
    padding: 0 15px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}

@media (min-width: 1140px) {
    .container {
        max-width: 1280px;
    }
}

@media (max-width: 767px) {
    .container {
        max-width: 100%;
    }
}

.d-flex {
    display: flex;
    display: -webkit-flexbox;
}

.row {
    display: flex;
    display: -webkit-flexbox;
    flex-wrap: wrap;
}

.common_input {
    outline: none;
    background: no-repeat center bottom, center calc(100% - 1px);
    background-size: 0 100%, 100% 100%;
    border: 0;
    height: 36px;
    transition: background 0s ease-out;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 0;
    font-size: 14px;
    color: #4d4d4d;
    width: 100%;
    background-image: linear-gradient(to top, #3681fe 2px, rgba(156, 39, 176, 0) 2px), linear-gradient(to top, #d2d2d2 1px, rgba(210, 210, 210, 0) 1px);
}

.common_input:focus {
    background-image: linear-gradient(to top, #3681fe 2px, rgba(156, 39, 176, 0) 2px), linear-gradient(to top, #d2d2d2 1px, rgba(210, 210, 210, 0) 1px);
    background-size: 100% 100%, 100% 100%;
    transition-duration: 0.3s;
    box-shadow: none
}

.common_input::placeholder {
    font-size: 14px;
    color: #a5a5a5;
    font-weight: 100;
}

.common_inputWarning,
.common_inputWarning:focus,
.common_inputWarning:hover {
    background-image: linear-gradient(to top, red 2px, rgba(156, 39, 176, 0) 2px),
    linear-gradient(to top, #d2d2d2 1px, rgba(210, 210, 210, 0) 1px);
    background-image: -webkit-linear-gradient(bottom, red 2px, rgba(156, 39, 176, 0) 2px),
    -webkit-linear-gradient(bottom, #d2d2d2 1px, rgba(210, 210, 210, 0) 1px);
    background-size: 100% 100%, 100% 100%;
}

.common_inputWarning + span {
    color: red;
    font-size: 11px;
}


.common_cancelBtn {
    background: none;
    color: #666666;
    cursor: pointer;
    padding: 6px 20px;
    transition: 0.2s all ease-in-out;
    font-size: 15px;
    font-weight: 400;
}

.common_cancelBtn:hover {
    color: #f92121;
}


.common_okBtn {
    position: relative;
    background: white;
    color: #3681fe;
    cursor: pointer;
    border-radius: 2px;
    border: 1px solid #3681fe;
    padding: 6px 20px;
    transition: 0.2s all ease-in-out;
    font-size: 15px;
    font-weight: 400;
    -ms-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.common_okBtn:hover {
    background: #3681fe;
    color: white;
}


/*************************************
                HEADER
**************************************/

.h_container {
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    min-height: 60px;
}

@media (min-width: 992px) {
    .h_container {
        flex-wrap: nowrap
    }
}

@media (max-width: 575px) {
    .h_container {
        min-height: 50px
    }
}

.h_fixed {
    position: fixed;
    left: 0;
    top: 0;
}


/*************************************
         HEADER FIRST SECTION
**************************************/

.hfs_lang {
    display: flex;
    align-items: center;
}

.hfs_lang .hfs_selected {
    font-weight: bold;
    color: #666666;
}

.hfs_lang > div {
    margin: 3px;
    font-weight: bold;
    font-size: 14px;
    color: #b5b5b5;
    cursor: pointer;
}

.hfs_lang > div:hover {
    color: #666666;
}

.hfs_lang > div:first-child:after {
    content: '';
    display: inline-block;
    width: 2px;
    position: relative;
    height: 12px;
    margin-left: 5px;
    top: -1px;
    background-color: #555555;
    vertical-align: middle;
    color: #666666 !important;
}

.hfs_logo {
    width: 183px;
    background-image: url('https://res.share.decompany.io/static/image/logo.png');
    background-repeat: no-repeat;
    background-position-y: 9px;
    position: relative;
    color: inherit;
    height: 50px;
    font-size: 1.125rem;
    line-height: 30px;
    cursor: pointer;
}

/*************************************
        HEADER SECOND SECTION
**************************************/

.hss_container {
    justify-content: flex-end;
    -webkit-box-pack: end; /* justify-content */
    -webkit-box-align: end; /* align-items */
}


/*************************************
               AVATAR
**************************************/

.a_container {
    display: inline-block;
    position: relative;
    overflow: hidden;
    border-radius: 60px;
    border: 1px solid #dadada;
    width: 30px;
    height: 30px;
}

.a_clickable {
    cursor: pointer;
}

.a_clickable:hover {
    border-color: #0d73f8;
}

.a_container img {
    position: absolute;
}

.a_avatar {
    border-radius: 30px;
    position: relative !important;
    margin-right: 10px;
    width: 100%;
    height: 100%;
    transition: 0.2s all ease-in-out;
}


/*************************************
            HEADER SEARCH
**************************************/

.hs_searchContainer {
    justify-content: flex-end;
    -webkit-box-pack: end; /* justify-content */
    -webkit-box-align: end; /* align-items */
}

.hs_searchInput {
    border: 1px solid #b3b3b3;
    height: 34px;
    border-radius: 31px;
    align-items: center;
}

.hs_searchInput > input {
    width: 100%;
    font-size: 13px;
    outline: none;
    border: none;
}

.hs_searchInput:hover,
.hs_searchInput:focus-within {
    border-color: #3681fe;
}

.hs_searchInputNone {
    width: 0;
    opacity: 0;
}

.hs_searchInputOn {
    width: 200px;
    opacity: 1;
    animation: hsi-spread 0.3s ease-in-out;
}

.hs_searchInputOff {
    width: 0;
    opacity: 0;
    animation: hsi-roll 0.2s ease-in-out;
}

@keyframes hsi-spread {
    0% {
        width: 0;
        opacity: 0;
    }
    100% {
        width: 200px;
        opacity: 1;
    }
}

@keyframes hsi-roll {
    0% {
        width: 200px;
        opacity: 1;
    }
    100% {
        width: 0;
        opacity: 0;
    }
}


/*************************************
            SEARCH BUTTON
**************************************/

.sb_wrapper {
    width: 36px;
    height: 36px;
    justify-content: center;
    border-radius: 50%;
    transition: 0.5s all ease-in-out;
}

.sb_wrapper:hover {
    background-color: #d6e6ff;
}

.sb_searchBtn {
    background-image: url('https://res.share.decompany.io/static/image/icon/i_search.svg');
    cursor: pointer;
    width: 28px;
    height: 27px;
    background-size: cover;
    background-position-y: 4px;
    z-index: 1;
}

.sb_searchBtn:hover {
    background-image: url('https://res.share.decompany.io/static/image/icon/i_search_blue.png');
}


/*************************************
       CONTENTS CATEGORY NAME
**************************************/

.ccn_container {
    font-size: 22px;
    display: inline-block;
    font-weight: 500;
    color: #4d4d4d;
    font-family: "Poppins", "Noto Sans KR", sans-serif, sans-serif;
    text-transform: uppercase;
    margin-right: 10px;
}

.ccn_container > span {
    font-size: 20px;
    margin-left: 5px;
}

/*************************************
           CONTENTS LIST
**************************************/

.cl_contentsList {
    width: 100%;
}

.cl_spinner {
    z-index: 1;
    margin-top: 25px;
    justify-content: center;
    align-items: center;
}


/*************************************
           CONTENTS LIST ITEM
**************************************/

.cli_container {
    height: 150px;
    box-shadow: 7px 4px 10px 0 #e2e2e2;
}

.cli_thumbnailContainer {
    width: 30%;
    background: #f3f3f3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cli_thumbnailContainer > img {
    width: 100%;
}

.cli_infoContainer {
    width: 70%;
    padding: 10px;
    position: relative;
}

.cli_title {
    font-weight: bold;
    font-size: 15px;
}

.cli_authContainer {
    margin-top: 5px;
    align-items: center;
}

.cli_authId {
    font-size: 12px;
    margin-left: 6px;
    color: #4d4d4d;
    position: relative;
}

.cli_descContainer {
    margin-top: 5px;
    height: 75px;
    font-size: 12px;
    position: relative;
}

/*************************************
           CONTENTS LIST ITEM
**************************************/

.tb_container {
    border: 1px solid #3681fe;
    color: #3681fe;
    background-color: white;
    padding: 5px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    font-size: 12px;
    -webkit-transition: 0.2s all ease-in-out;
    transition: 0.2s all ease-in-out;
    position: absolute;
    width: calc(100% - 20px);
    bottom: 10px;
}

.tb_container:hover {
    background-color: #3681fe;
    color: white;
}

/*************************************
           LOADING MODAL
**************************************/

.lm_wrapper {
    position: fixed;
    justify-content: center;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff;
    z-index: 5;
    align-items: center;
}

.lm_wrapper > img {
    position: absolute;
    z-index: 1;
    max-width: 55px;
}


/*************************************
           PROFILE CARD
**************************************/

.pc_container {
    text-align: center;
    width: 215px;
    height: 265px;
    position: absolute;
    background: white;
    top: 45px;
    z-index: 1;
    border-radius: 4px;
    border: solid 1px #cccccc;
}

.pc_username {
    color: #4d4d4d;
    font-size: 14px;
    font-weight: 600;
}


.pc_accountBtn {
    margin: auto;
    border-radius: 2px;
    font-weight: 400;
    color: #666666;
    border: solid 1px #666666;
    font-size: 14px;
    letter-spacing: -0.3px;
    cursor: pointer;
    width: 134px;
    height: 33px;
    align-items: center;
    -webkit-transition: 0.2s all ease-in-out;
    transition: 0.2s all ease-in-out;
    justify-content: center;
}

.pc_accountBtn:hover {
    color: #0d73f8;
    border-color: #0d73f8;
}

.pc_logoutBtn {
    margin: auto;
    border-radius: 2px;
    font-weight: 400;
    color: #999999;
    font-size: 14px;
    letter-spacing: -0.3px;
    cursor: pointer;
    width: 134px;
    height: 33px;
    align-items: center;
    -webkit-transition: 0.2s all ease-in-out;
    transition: 0.2s all ease-in-out;
    justify-content: center;
}

.pc_logoutBtn:hover {
    color: #f80d0d;
}


/*************************************
               UPLOAD
**************************************/

.u_textarea {
    background: white;
    border: 1px solid #d2d2d2;
    width: 100%;
    font-size: 14px;
    font-weight: 400;
    padding: 10px;
    min-height: 120px !important;
    height: calc(100vh - 250px);
    outline: none;
}

.u_textarea::placeholder {
    font-size: 14px;
    color: #a5a5a5 !important;
    font-weight: 100;
}

.u_textarea:not(#copyEmbedInput):hover,
.u_textarea:focus {
    border-color: #3681fe;
}

.u_btnWrapper {
    align-items: center;
    justify-content: flex-end;
    margin: 0;
    padding: 15px 0 15px 24px;
    text-align: center;
    flex: 0 0 auto;
    margin-top: 1rem !important;
    margin-bottom: .5rem !important;
}


/*************************************
         UPLOAD PROGRESS MODAL
**************************************/

.upm_progressWrapper {
    width: 100%;
    position: fixed;
    height: 100%;
    top: 0;
    left: 0;
    background: black;
    opacity: 0.3;
    display: none;
}

.upm_progress {
    position: fixed;
    left: calc(50% - 50px);
    top: calc(50% - 50px);
    width: 100px;
    height: 100px;
    display: none;
    pointer-events: none;
}

.upm_progressSecond {
    border-radius: 100px;
    display: block;
    position: relative;
    overflow: hidden;
    width: inherit;
    height: inherit;
}

.upm_progressSecond > img {
    position: relative;
    left: -325px;
    top: -224px;
}

.upm_percent {
    color: white;
    font-size: 20px;
    position: absolute;
    z-index: 4;
    top: 35px;
    text-align: center;
    width: 100%;
    font-weight: 500;
}

