/*************************************
                COMMON
**************************************/

#container {
    overflow-x: hidden;
    min-height: calc(80vh + 4px);
}

.container {
    padding: 01rem;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}

@media (min-width: 1140px) {
    .container {
        max-width: 1280px;
    }
}

@media (max-width: 767px) {
    .container {
        max-width: 100%;
    }
}

.d-flex {
    display: flex;
    display: -webkit-flexbox;
}

.row {
    display: flex;
    display: -webkit-flexbox;
    flex-wrap: wrap;
}

.common_modal_title {
    position: relative;
    margin: 0 0 25px 0;
    flex: 0 0 auto;
}

@media (max-width: 575px) {
    .common_modal_title {
        font-size: 20px !important;
    }
}

.common_modal_title > h3 {
    padding-right: 60px;
    font-size: 25px;
    font-family: 'Poppins', 'Noto Sans KR', sans-serif !important;
    font-weight: bold;
    margin: 10px 0 !important;
    text-align: left;
    color: #505050;
}

.common_input {
    outline: none;
    background: no-repeat center bottom, center calc(100% - 1px);
    background-size: 0 100%, 100% 100%;
    border: 0;
    height: 36px;
    transition: background 0s ease-out;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 0;
    font-size: 1rem;
    color: #4d4d4d;
    width: 100%;
    background-image: linear-gradient(
            to top,
            #3681fe 2px,
            rgba(156, 39, 176, 0) 2px
    ),
    linear-gradient(to top, #d2d2d2 1px, rgba(210, 210, 210, 0) 1px);
}

.common_input:focus {
    background-image: linear-gradient(
            to top,
            #3681fe 2px,
            rgba(156, 39, 176, 0) 2px
    ),
    linear-gradient(to top, #d2d2d2 1px, rgba(210, 210, 210, 0) 1px);
    background-size: 100% 100%, 100% 100%;
    transition-duration: 0.3s;
    box-shadow: none;
}

.common_input::placeholder {
    font-size: 1rem;
    color: #a5a5a5;
    font-weight: 100;
}

.common_inputWarning,
.common_inputWarning:focus,
.common_inputWarning:hover {
    background-image: linear-gradient(to top, red 2px, rgba(156, 39, 176, 0) 2px),
    linear-gradient(to top, #d2d2d2 1px, rgba(210, 210, 210, 0) 1px);
    background-image: -webkit-linear-gradient(
            bottom,
            red 2px,
            rgba(156, 39, 176, 0) 2px
    ),
    -webkit-linear-gradient(bottom, #d2d2d2 1px, rgba(210, 210, 210, 0) 1px);
    background-size: 100% 100%, 100% 100%;
}

.common_inputWarning + span {
    color: red;
    font-size: 11px;
}

.common_cancelBtn {
    background: none;
    color: #666666;
    cursor: pointer;
    padding: 6px 20px;
    transition: 0.2s all ease-in-out;
    font-size: 0.8rem;
    font-weight: 400;
}

.common_cancelBtn:hover {
    color: #f92121;
}

.common_okBtn {
    position: relative;
    background: white;
    color: #3681fe;
    cursor: pointer;
    border-radius: 2px;
    border: 1px solid #3681fe;
    padding: 6px 20px;
    transition: 0.2s all ease-in-out;
    font-size: 0.8rem;
    font-weight: 400;
    -ms-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.common_okBtn:hover {
    background: #3681fe;
    color: white;
}

.common_signOutBtn {
    position: relative;
    background: white;
    color: red;
    cursor: pointer;
    border-radius: 2px;
    padding: 6px 20px;
    transition: 0.2s all ease-in-out;
    font-size: 0.8rem;
    font-weight: 400;
    -ms-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.common_font {
    font-family: 'Poppins', 'Noto Sans KR', sans-serif, sans-serif;
}

.common_optionBtn {
    z-index: 3;
}

.common_optionBtn > i {
    cursor: pointer;
    color: #828282;
}

.common_optionBtn > i:hover {
    color: #3681fe;
}

.common_optionTable {
    position: absolute;
    top: 30px;
    right: 20px;
    float: right;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.21), 0 0 1px rgba(0, 0, 0, 0.18);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.21), 0 0 1px rgba(0, 0, 0, 0.18);
}

.common_optionTableBtn {
    text-align: left;
    padding: 7px 10px;
    min-width: 150px;
    cursor: pointer;
    background: white;
    font-size: 1rem;
    font-weight: 400;
    overflow: hidden;
    white-space: nowrap;
    color: #4d4d4d;
    align-items: center;
}

.common_optionTableBtn > i {
    font-size: 19px;
    margin-right: 10px;
    color: #8c8c8c;
}

.common_optionTableBtn:hover,
.common_optionTableBtn:hover > i {
    background: #3681fe;
    color: white !important;
}

.common_triggerDivForNative {
    position: absolute;
    left: -500%;
    opacity: 0;
}

.common_loadingWrapper {
    position: absolute;
    background: white;
    width: 100%;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    top: 0;
}

.common_disabledBtn {
    border-color: #d2d2d2 !important;
    color: #d2d2d2 !important;
    cursor: default !important;
    pointer-events: none;
}

.common_disabledBtn:hover {
    background: white !important;
}

/*************************************
                 APP
**************************************/

.app_error {
    position: absolute;
    font-size: 1rem;
    font-weight: 400;
    color: white;
    background: red;
    z-index: 6;
    padding: 0 1rem;
}

/*************************************
           COMMON ANIMATION
**************************************/

.mock-gradient-animation {
    background: linear-gradient(310deg, #ffffff, #d5d5d5);
    background-size: 800% 800%;
    -webkit-animation: mock-gradient-animation 4s ease infinite;
    -moz-animation: mock-gradient-animation 4s ease infinite;
    animation: mock-gradient-animation 4s ease infinite;
}

@-webkit-keyframes mock-gradient-animation {
    0% {
        background-position: 0 52%;
    }
    50% {
        background-position: 100% 49%;
    }
    100% {
        background-position: 0 52%;
    }
}

@-moz-keyframes mock-gradient-animation {
    0% {
        background-position: 0 52%;
    }
    50% {
        background-position: 100% 49%;
    }
    100% {
        background-position: 0 52%;
    }
}

@keyframes mock-gradient-animation {
    0% {
        background-position: 0 52%;
    }
    50% {
        background-position: 100% 49%;
    }
    100% {
        background-position: 0 52%;
    }
}

/*************************************
           LOADING MODAL
**************************************/

.lm_wrapper {
    position: fixed;
    justify-content: center;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff;
    z-index: 5;
    align-items: center;
}

.lm_wrapper > img {
    position: absolute;
    z-index: 1;
    max-width: 55px;
    left: calc(50% - 28px);
    top: calc(50% - 26px);
}

/*************************************
               UPLOAD
**************************************/
.u_container {
    max-width: 800px;
    width: 100%;
    top: 0;
    left: 0;
    padding: 0 20px;
    margin: auto;
}

.u_container > .common_modal_title {
    display: flex;
}

.u_container > .common_modal_title > h3 {
    margin: 0.9rem 0 1rem 1rem !important;
    font-size: 1.2rem;
}

.u_textarea {
    background: white;
    border: 1px solid #d2d2d2;
    width: 100%;
    font-size: 1rem;
    font-weight: 400;
    padding: 10px;
    min-height: 120px !important;
    height: calc(100vh - 270px);
    outline: none;
}

.u_textarea::placeholder {
    font-size: 1rem;
    color: #a5a5a5 !important;
    font-weight: 100;
}

.u_textarea:not(#copyEmbedInput):hover,
.u_textarea:focus {
    border-color: #3681fe;
}

.u_btnWrapper {
    align-items: center;
    justify-content: flex-end;
    margin: 0;
    padding: 1rem 0 0 0;
    text-align: center;
    flex: 0 0 auto;
    margin-top: 1rem !important;
    position: relative;
}

.u_signOutBtnWrapper {
    position: absolute;
    left: 0;
    top: 16px;
}

.u_logo {
    position: relative;
    cursor: pointer;
    display: inline-block;
}

.u_version {
    color: #afafaf;
    font-size: 12px;
    position: absolute;
    top: 17px;
    left: 250px;
}

.u_note {
    color: #888888;
    font-size: 0.7rem;
    margin-top: 1rem;
    font-weight: 400;
}

.u_note > span {
    font-weight: bold;
    margin-right: 5px;
}

.u_note > a {
    font-weight: bold;
    color: #3681fe;
    text-decoration: underline;
}

.u_noteSub {
    margin-top: 5px;
    margin-left: 40px;
}

/*************************************
         UPLOAD PROGRESS MODAL
**************************************/

.upm_progressWrapper {
    width: 100%;
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    background: white;
    z-index: 1;
}

.upm_progress {
    position: absolute;
    left: calc(50% - 50px);
    top: calc(50% - 50px);
    width: 100px;
    height: 100px;
    pointer-events: none;
    z-index: 2;
}

.upm_progressSecond {
    border-radius: 100px;
    display: block;
    position: relative;
    overflow: hidden;
    width: inherit;
    height: inherit;
}

.upm_progressSecond > img {
    position: relative;
    left: -325px;
    top: -224px;
}

.upm_percent {
    color: #3681fe;
    font-size: 20px;
    position: absolute;
    z-index: 4;
    top: 35px;
    text-align: center;
    width: 100%;
    font-weight: 500;
}

.upm_container {
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
}

.upm_closeContainer {
    position: absolute;
    left: calc(50% - 50px);
    bottom: calc(50% - 210px);
    width: 100px;
    display: flex;
    justify-content: center;
}

.upm_closeText {
    font-size: 0.9rem;
    z-index: 2;
    font-weight: 400;
    color: red;
}

/*************************************
                LOGIN
**************************************/

.l_container {
    width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 100vh;
}

.l_component {
    width: inherit;
    background: white;
    box-shadow: 0 0 20px 2px #c1c1c1 !important;
    padding-bottom: 30px;
}

.l_cancelWrapper {
    padding: 10px;
    color: #656565;
}

.l_cancelWrapper > i {
    font-size: 22px;
    float: right;
    cursor: pointer;
}

.l_logoWrapper {
    padding: 20px 0;
}

.l_logo {
    background-image: url('https://res.share.decompany.io/static/image/logo.png');
    background-repeat: no-repeat;
    background-position-x: 23px;
    position: relative;
    height: 50px;
    cursor: pointer;
    margin: auto;
    display: block;
}

.l_btnWrapper {
    max-width: 260px;
    margin: auto;
}

/*************************************
             AUTH BUTTON
**************************************/

.ab_container {
    display: flex;
    cursor: pointer;
    position: relative;
    width: 100%;
    height: 100%;
}

.ab_wrapper {
    width: inherit;
    height: inherit;
    position: absolute;
    left: 0;
    top: 0;
    transition: background 0.3s;
    -webkit-transition: background 0.3s;
}

.ab_container:hover > .ab_wrapper {
    background-color: rgba(0, 0, 0, 0.3);
}

.ab_iconContainer {
    width: 50px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px 0 0 3px;
}

.ab_iconContainer > img {
    height: 30px;
    width: 30px;
}

.ab_iconContainer_google {
    background: #3062b2;
}

.ab_providerName {
    color: white;
    width: 100%;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 11px;
    font-family: 'Poppins', 'Noto Sans KR', sans-serif;
    display: flex;
    align-items: center;
    padding: 0 17px;
    border-radius: 0 3px 3px 0;
}

.ab_providerName_google {
    background: #4286f4;
}

/*************************************
             NO DATA
**************************************/

.nd_container {
    margin: 20px;
    text-align: center;
    font-weight: bold;
    color: #9c9c9c;
}

/*************************************
      LIMIT PRIVATE DOCUMENT MODAL
**************************************/

.lpd_wrapper {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.lpd_subj {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: #3681fe;
}

.lpd_contents {
    font-weight: 400;
}

.lpd_btnContainer {
    float: right;
    margin-top: 2rem;
    display: flex;
}

.lpd_btnContainer > div {
    display: inline-block;
}

.lpd_dummy {
    position: absolute;
    width: 100%;
    height: 100%;
    background: white;
}

.lpd_subjContainer {
    z-index: 1;
}

/*************************************
      UPLOAD COMPLETE MODAL
**************************************/

.ucm_wrapper {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.ucm_subj {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: #3681fe;
}

.ucm_contentsSub {
    font-size: 0.8rem;
    margin-top: 0.5rem;
    color: #5d5d5d;
}

.ucm_contents {
    font-weight: 400;
}

.ucm_btnContainer {
    float: right;
    margin-top: 2rem;
    display: flex;
}

.ucm_btnContainer > div {
    display: inline-block;
}

.ucm_dummy {
    position: absolute;
    width: 100%;
    height: 100%;
    background: white;
}

.ucm_subjContainer {
    z-index: 1;
}
